name: Pull Request Checks

on:
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  format:
    runs-on: [ windows-latest ]
    steps:
      - name: Full Checkout
        uses: actions/checkout@v4
        with:
          clean: true
          fetch-depth: 1
          persist-credentials: false
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'

      - name: Format
        run: dotnet run --project .\engine\Tools\SboxBuild\SboxBuild.csproj -- format --verify

      - name: Bootstrap
        run: .\Bootstrap.bat

      - name: Test
        run: dotnet run --project .\engine\Tools\SboxBuild\SboxBuild.csproj -- test
